@page
@model Handler.Pages.Status.IndexModel
@{
    ViewData["Title"] = "Status";
}

    <h2>Modeler Status</h2>

<table class="center">
    <tr>
        <th>Job</th>
        <th>Status</th>
        <th>Time Recieved</th>
        <th>Time Started</th>
        <th>Time Completed</th>
    </tr>
    <tr>
        <td>1278061_202006181549</td>
        <td>Complete</td>
        <td>6/18/2020 8:15 PM</td>
        <td>6/18/2020 8:15 PM</td>
        <td>6/18/2020 9:13 PM</td>
    </tr>
    <tr>
        <td>1202740_202006171645</td>
        <td>Error</td>
        <td>6/17/2020 9:15 PM</td>
        <td>6/18/2020 9:15 PM</td>
        <td>6/18/2020 10:04 PM</td>
    </tr>
    <tr>
        <td>1202740_2020061700018</td>
        <td>Error</td>
        <td>6/17/2020 10:14 PM</td>
        <td>6/18/2020 10:15 PM</td>
        <td>6/18/2020 10:55 PM</td>
    </tr>
    <tr>
        <td>1202740_2020061700018</td>
        <td>Error</td>
        <td>6/17/2020 1:40 AM</td>
        <td>6/18/2020 1:41 AM</td>
        <td>6/18/2020 4:04 AM</td>
    </tr>
</table>
