@page
@model IndexModel
@{
    ViewData["Title"] = "Config page";
}

<ul class="list-group">
    <li class="list-group-item list-group-item-success">Job</li>
    <li class="list-group-item list-group-item-secondary">Job Prefix</li>
    <li class="list-group-item list-group-item-info">Job Directory</li>
    <li class="list-group-item list-group-item-warning">Ini File Name</li>
    <li class="list-group-item list-group-item-danger">Xml File Name</li>
    <li class="list-group-item list-group-item-primary">Upload Directory</li>
    <li class="list-group-item list-group-item-dark">Processing Directory</li>
    <li class="list-group-item list-group-item-light">Repository Directory</li>
    <li class="list-group-item list-group-item-dark">Finished Directory</li>
    <li class="list-group-item list-group-item-primary">Error Directory</li>
    <li class="list-group-item list-group-item-primary">ModelerRootDir</li>
</ul>

<div class="text-center">
    <h1 class="display-4">@Model.Message</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
